/*@import "values.scss";*/
/*@import "mixins.scss";*/

.deliveryList{
    .item{
        .title{
            font-size: 18px;
            font-weight: bold;
            color: $textColor3;
            & + *{
                margin-top: 25px;
            }
        }
        & + .item{
            margin-top: 68px;
        }
        .leftlisticonblock{
            &.horizontal{
                .leftIconBlock{                   
                    .iconFont{
                        width: 54px;
                        height: 54px;
                        line-height: 54px;
                    }
                    .leftIconTxt{
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 16px;
                        margin-left: 15px;
                    }
                    & + .leftIconBlock{
                        margin-left: 80px;
                    }
                }
            }
        }
    }
}
@media (max-width:$maxMediaSD){
    .deliveryList{
        .item{
            .title{

                & + *{
                }
            }
            & + .item{
            }
            .leftlisticonblock{
                &.horizontal{
                    .leftIconBlock{                   
                        .iconFont{
  
                        }
                        .leftIconTxt{

                        }
                        & + .leftIconBlock{
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:$maxMediaMD){
        .deliveryList{
            padding-bottom: 21px;
        .item{
            .title{

                & + *{
                }
            }
            & + .item{
                margin-top: 45px;
            }
            .leftlisticonblock{
                &.horizontal{
                    .leftIconBlock{                   
                        .iconFont{
  
                        }
                        .leftIconTxt{

                        }
                        & + .leftIconBlock{
                            margin-left: 40px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:$maxMediaSM){
        .deliveryList{
            padding-bottom: 0;
        .item{
            .title{

                & + *{
                }
            }
            & + .item{
                margin-top: 15px;
            }
            .leftlisticonblock{
                &.horizontal{
                    .leftIconBlock{ 
                        min-width: 240px;
                        margin-bottom: 15px;                  
                        .iconFont{
  
                        }
                        .leftIconTxt{

                        }
                        & + .leftIconBlock{
                    margin-left: 0;
                            
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:$maxMediaXS){
        .deliveryList{
        .item{
            .title{

                & + *{
                }
            }
            & + .item{
            }
            .leftlisticonblock{
                &.horizontal{
                    .leftIconBlock{                   
                        .iconFont{
  
                        }
                        .leftIconTxt{

                        }
                        & + .leftIconBlock{
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:$maxMediaXSS){
        .deliveryList{
        .item{
            .title{
                font-size: 16px;
                & + *{
                    margin-top: 15px;
                }
            }
            & + .item{
            }
            .leftlisticonblock{
                &.horizontal{
                    .leftIconBlock{                   
                        .iconFont{
  
                        }
                        .leftIconTxt{
                            font-size: 15px;
                            margin-left: 5px;
                        }
                        & + .leftIconBlock{
                        }
                    }
                }
            }
        }
    }
}