/*@import "values.scss";*/
/*@import "mixins.scss";*/

.mapBlock{
    width: 1410px;
    height: 543px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .linkMap{
        position: absolute;
        right: 0;
        top:-80px;
        .singleLink{
            font-size: 16px;
            color: $textColor3;
            text-decoration: underline;
        }
    }
    & > div{
        width: 100% !important;
        height: 410px !important;
        & > ymaps{
            width: 100% !important;
            height: 410px !important;
        }
    }
}
.toByMap{
    .mapBlock{
        & > div{
            height: 540px !important;
            & > ymaps{
                height: 540px !important;
            }
        }
    }
}
@media (max-width:$maxMediaSD){
    .mapBlock{
        width: 100%;
        .linkMap{

            .singleLink{

            }
        }
    }
}
@media (max-width:$maxMediaMD){
        .mapBlock{
            height: 378px;
        .linkMap{
            display: none;
            .singleLink{

            }
        }
    }
}
@media (max-width:$maxMediaSM){
        .mapBlock{

        .linkMap{

            .singleLink{

            }
        }
    }
}
@media (max-width:$maxMediaXS){
        .mapBlock{  
            height: 304px;
        .linkMap{

            .singleLink{

            }
        }
    }
}
@media (max-width:$maxMediaXSS){
        .mapBlock{

        .linkMap{

            .singleLink{

            }
        }
    }
}