/*@import "values.scss";*/
/*@import "mixins.scss";*/

.searchBlock{
    .iconFont{
        cursor: pointer;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    input{
        display: none;
    }
}