/*@import "values.scss";*/
/*@import "mixins.scss";*/

.tabsBlock{
    .tabBlockHead{
        ul{
            display: flex;
            li{
                cursor: pointer;
                background-color: $color6-a1;
                text-align: center;
                width: 50%;
                height: 48px;
                line-height: 48px;
                    font-size: 16px;
                    text-transform: uppercase;
    
                &.active{
                    color: $color1;
                    background-color: $color4;
                    font-weight: 600;
                    
                }
                &:hover{
                    opacity: .5;
                }
            }
        }


    }
}