// colors
$color1: #fff;
    $color1-a1: #fff;
$color2: #333333;
$color3: #575757;
    $color3-a1: rgba(139, 149, 157, 0.2);
    $color3-a2: rgba(139, 149, 157, 0.5);
$color4: #80d8d0;
    $color4-a1: #72e7dd;
$color5: #8b959d;
$color6: #fafafa;
    $color6-a1: #f5f5f5;
$color7: #613887;
$color8: #43d855;
$color9: #e12b75;
$color10:#c62828;
// colors

// text colors
$textColor1: $color1;
$textColor2: $color2;
$textColor3: $color3;
$textColor4: $color4;
$textColor5: $color5;
// text colors

// btn colors
$btnColor1: $color1;
    $btnColor1-a1: $color1-a1;
$btnColor2: $color2;
$btnColor3: $color3;
$btnColor4: $color4;
$btnColor5: $color5;
$btnColor6: $color6;
    $btnColor6-a1: $color6-a1;
// btn colors

//formaColor
$formaColor1:$color1;
$formaColor2:$color2;
$formaColor3:$color3;
$formaColor4:$color4;
$formaColor5:$color5;
$formaColor6:$color10;
//formaColor


$containerLG:1440px;
$containerSD:1200px;
$containerMD:984px;
$containerSM:768px;
$containerXS:100%;
$containerXSS:100%;

$maxMediaSD:1439px;
$maxMediaMD:1199px;
$maxMediaSM:991px;
$maxMediaXS:767px;
$maxMediaXSS:479px;

$minMediaSD:1440px;
$minMediaMD:1200px;
$minMediaSM:992px;
$minMediaXS:768px;
$minMediaXSS:480px;



