body {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    background: #ebebeb;
    background: -moz-linear-gradient(top, #ebebeb 0%, #ebebeb 62%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #ebebeb 0%, #ebebeb 62%, #ffffff 100%);
    background: linear-gradient(to bottom, #ebebeb 0%, #ebebeb 62%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ffffff', GradientType=0);
    height: 100%;
    position: relative;
    padding-right: 0px;
}

body.fixPage {
    background-color: #ebebeb;
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.wrapper {
    position: relative;
    z-index: 2;
}

.backParalax {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.backParalax [class*='layer'] {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center 0px;
    -webkit-transition: background 1s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background 1s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.backParalax .layer1 {
    background-image: url(/img/backLayer1.png);
}

.backParalax .layer2 {
    background-image: url(/img/backLayer2.png)
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

button, label, .buttons span {
    border: 0px;
    padding: 0px;
    background: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
}

a.href {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
}

.invisLink,
.invisImg {
    position: relative;
    overflow: hidden;
}

.invisImg > img {
    display: block;
    position: absolute;
    left: calc(100% + 5px);
    top: 0px;
    width: 100%;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    text-indent: 200%;
    white-space: pre;
}

.invisTextA {
    overflow: hidden;
    text-indent: 200%;
    white-space: pre;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: left;
}

.cfix:after,
.list:after,
.row:after,
.grid:after,
.imgLeft:after {
    content: " ";
    display: block;
    clear: both;
}

.list > .item,
.row > .item,
.grid > .item {
    float: left;
}

.grid {
    margin: 0px -10px 0px;
}

.grid .item {
}

*,
*:focus {
    outline: none;
}

.owl-controls .owl-nav > div {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 134px;
    overflow: hidden;
}

.owl-controls .owl-nav > div:hover {
}

.owl-controls .owl-nav > div:after {
    font-family: icomoon;
    line-height: 54px;
    font-size: 8px;
    display: block;
    text-align: center;
}

.owl-controls .owl-nav > div:hover span {
    color: #e31e24;
}

.owl-controls .owl-nav > div span {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #191818;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.owl-controls .owl-nav .owl-prev {
    left: -54px;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.owl-controls .owl-nav .owl-prev:after {
    content: "\e901";
}

.owl-controls .owl-nav .owl-next {
    right: -54px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
}

.owl-controls .owl-nav .owl-next:after {
    content: "\e902";
}

form {
    display: table;
    width: 100%;
}

form p {
    font-size: 16px;
    line-height: 26px;
    color: #403e3e;
    margin-bottom: 50px;
    text-align: center;
}

form button {
    margin: 30px auto 0px;
    width: 400px;
    height: 80px;
}

form .item {
}

form .item.noLabel {
}

form label {
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2.5px;
    font-weight: 300;
    font-family: 'mp';
    display: block;
    margin-bottom: 2px;
    padding-left: 2px;
}

form .item + .item {
    margin-top: 20px;
}

form .icon label {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0px;
}

form .icon input {
}

input[type='text'], input[type='password'],
input[type='email'], input[type='url'],
input[type='date'], textarea, select {
    color: #4c4f65;
    height: 46px;
    padding: 0px 18px;
    font-size: 16px;
    outline: none !important;
    box-shadow: none;
    width: 100%;
    background: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: solid 1px #4c4f65;
    font-family: 'Roboto' !important;
    border-radius: 0px !important;
}

textarea {
    height: auto;
    padding: 10px 18px;
    display: block;
    margin: 0px;
    width: 100% !important;
    min-height: 130px;
    max-height: 200px !important;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox'] + label {
    position: relative;
    padding-left: 34px;
    display: table;
    cursor: pointer;
}

input[type='checkbox']:checked + label {
}

input[type='checkbox'] + label:before {
    content: "";
    display: block;
    font-size: 12px;
    text-align: center;
    color: #2cb98f;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    border: solid 1px #e2e2e2;
}

input[type='checkbox']:checked + label:before {
    content: "\e908";
    font-family: icomoon;
}

input[type='checkbox']:before {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: #0875a6;
    display: none;
}

input[type='checkbox']:checked:before {
    display: block;
}

input[type='text']:focus, input[type='password']:focus,
input[type='email']:focus, input[type='date']:focus,
input[type='url']:focus, textarea:focus {
    background-color: #fff !important;
}

textarea {
}

input[type='submit'] {
    background: none;
    border: 0px;
    cursor: pointer;
}

input[type='submit']:hover {
    opacity: 0.5;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #4c4f65;
    opacity: 0.5;
    text-overflow: ellipsis;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #4c4f65;
    opacity: 0.5;
    text-overflow: ellipsis;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #4c4f65;
    opacity: 0.5;
    text-overflow: ellipsis;
}

input:-ms-placeholder,
textarea:-ms-placeholder {
    color: #4c4f65;
    opacity: 0.5;
    text-overflow: ellipsis;
}

.gradText {
    background: #31c0d1;
    background: -moz-linear-gradient(left, #31c0d1 11%, #584596 100%);
    background: -webkit-linear-gradient(left, #31c0d1 11%, #584596 100%);
    background: linear-gradient(to right, #31c0d1 11%, #584596 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31c0d1', endColorstr='#584596', GradientType=1);

    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.table {
    display: table;
}

.tCell {
    display: table-cell;
}

.tCell.middle {
    vertical-align: middle;
}

.row {
    margin: 0px -10px;
}

.row > [class*='col'] {
    float: left;
    padding: 0px 10px;
}

.grid > [class*='col'] {
    float: left;
    padding: 20px 10px 0px;
}

[class*='col'].centerBl {
    margin: 0 auto;
}

.col1 {
    width: calc(100% * 1 / 12);
}

.col2 {
    width: calc(100% * 2 / 12);
}

.col3 {
    width: 25%;
}

.col4 {
    width: 33.3333%;
}

.col5 {
    width: calc(100% * 5 / 12);
}

.col6 {
    width: 50%;
}

.col7 {
    width: calc(100% * 7 / 12);
}

.col8 {
    width: calc(100% * 8 / 12);
    padding: 0px 8px;
}

.col9 {
    width: 66.6666%;
}

.col10 {
    width: calc(100% * 10 / 12);
}

.col11 {
    width: calc(100% * 11 / 12);
}

.col12 {
    width: calc(100% * 12 / 12);
}

.modals {
    min-height: 500px;
    width: 100%;
    height: 100vh;
}
body.showingModal{
  overflow: hidden;
  padding-right: 17px;
  width: 100%;
  height: 100%;
  background-color: #4c4f65;
}
body header{
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
body.showingModal header{
  opacity: 0;
}
body .blockMod{
  left: 8.5px;
}
body.showingModal .blockMod{
  left:0px;
}
.modals .tCell {
    padding: 15px;
    overflow: auto;
}

.modalsScroll {
    overflow: auto;
    position: fixed;
    z-index: 3;
    visibility: hidden;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s ease-out 0.5s;
    -moz-transition: opacity 0.5s, visibility 0s ease-out 0.5s;
    -o-transition: opacity 0.5s, visibility 0s ease-out 0.5s;
    transition: opacity 0.5s, visibility 0s ease-out 0.5s;
}

body .modalsScroll {
    right:-17px;
    width: calc(100% + 17px);
}
body.showingModal .modalsScroll {
    right:0px;
    width:100%;
}

.modalsScroll.open {
    z-index: 3;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s, visibility 0s;
    -moz-transition: opacity 0.5s, visibility 0s;
    -o-transition: opacity 0.5s, visibility 0s;
    transition: opacity 0.5s, visibility 0s;
}

.modals #overlay {
    z-index: 1;
    position: fixed;
    background-color: #fff;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}
.open .modals #overlay {
  opacity: 1;
}

.modals .close {
    outline: none;
    z-index: 30;
    background: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 45px;
    height: 45px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.5;
}

.modals .close span:last-child {
    margin-bottom: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -8px;
}

.modals .close span {
    display: table;
    width: 30px;
    height: 4px;
    background-color: #232323;
    margin-bottom: 25px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 21px;
    left: 50%;
    margin-left: -15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


.modals .close:hover {
    opacity: 1;
}

.blockMod .in .cap {
    font-size: 48px;
    line-height: 82px;
    color: #4c4f65;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

.blockMod .in {
    position: relative;
    z-index: 2;
}

.blockMod {
    display: block;
    width: 510px;
    overflow: hidden;
    z-index: 2;
    background: #fff;
    margin: 0 auto;
    padding: 30px 20px 50px;
}

.redBtn {
    font-size: 18px;
    line-height: 55px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 250px;
    background-color: #f85563;
    display: block;
    position: relative;
    font-family: 'icomoon', 'Roboto' !important;
}

button.redBtn {
    height: 55px;
    line-height: inherit;
}

.redBtn[class*='icon']:after {
    position: absolute;
    right: -23px;
    color: #4c4f65;
    font-size: 50px;
    display: block;
    line-height: 57px;
    top: 0px;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -moz-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.redBtn[class*='icon']:hover:after {
    -webkit-animation-name: bounceRight;
    -moz-animation-name: bounceRight;
    -o-animation-name: bounceRight;
    animation-name: bounceRight;
}

.redBtn:hover {
}

.redBtn[class*='icon']:hover:after {
}

.hGradBtn {
    font-size: 18px;
    line-height: 55px;
    color: #fff;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 20px;
    
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    background: #31c0d1;
    background: -moz-linear-gradient(left, #31c0d1 11%, #584596 100%);
    background: -webkit-linear-gradient(left, #31c0d1 11%, #584596 100%);
    background: linear-gradient(to right, #31c0d1 11%, #584596 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31c0d1', endColorstr='#584596', GradientType=1);
}
.hGradBtn:hover{
    
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
    transform: scale(1.025);
}

.hGradBtn[class*='icon-'] {
    font-family: 'icomoon', 'Roboto' !important;
}

.hGradBtn[class*='icon-']:after {
    font-size: 50px;
    display: inline-block;
    vertical-align: top;
    margin-left: 17px;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -moz-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hGradBtn[class*='icon-']:hover:after {
    -webkit-animation-name: bounceRight;
    -moz-animation-name: bounceRight;
    -o-animation-name: bounceRight;
    animation-name: bounceRight;
}

button.hGradBtn { 
}

.hGradBtn:before {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.hGradBtn:hover {
}

.hGradBtn:hover:before {
}

.yellowBth {
    font-size: 18px;
    line-height: 55px;
    color: #393c4c;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 0px 20px;
    background-color: #f9efb2;
}

.yellowBth:hover {
    background-color: #ebe1a7;
}

.fadeLogo {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: 2;
}

.fadeLogo span {
    font-size: 146px;
    color: #171828;
    opacity: 0.07;
    display: block;
    text-align: center;
    z-index: 1;
    position: absolute;
    width: 2000px;
    left: 50%;
    margin-left: -1000px;
}

@media (max-width: 1439px) {
    .col1-sd {
        width: calc(100% * 1 / 12) !important;
    }

    .col2-sd {
        width: calc(100% * 2 / 12) !important;
    }

    .col3-sd {
        width: 25% !important;
    }

    .col4-sd {
        width: 33.3333% !important;
    }

    .col5-sd {
        width: calc(100% * 5 / 12) !important;
    }

    .col6-sd {
        width: 50% !important;
    }

    .col7-sd {
        width: calc(100% * 7 / 12) !important;
    }

    .col8-sd {
        width: calc(100% * 8 / 12) !important;
    }

    .col9-sd {
        width: 66.6666% !important;
    }

    .col10-sd {
        width: calc(100% * 10 / 12) !important;
    }

    .col11-sd {
        width: calc(100% * 11 / 12) !important;
    }

    .col12-sd {
        width: calc(100% * 12 / 12) !important;
    }
}

@media (max-width: 1199px) {

    .col1-md {
        width: calc(100% * 1 / 12) !important;
    }

    .col2-md {
        width: calc(100% * 2 / 12) !important;
    }

    .col3-md {
        width: 25% !important;
    }

    .col4-md {
        width: 33.3333% !important;
    }

    .col5-md {
        width: calc(100% * 5 / 12) !important;
    }

    .col6-md {
        width: 50% !important;
    }

    .col7-md {
        width: calc(100% * 7 / 12) !important;
    }

    .col8-md {
        width: calc(100% * 8 / 12) !important;
    }

    .col9-md {
        width: 66.6666% !important;
    }

    .col10-md {
        width: calc(100% * 10 / 12) !important;
    }

    .col11-md {
        width: calc(100% * 11 / 12) !important;
    }

    .col12-md {
        width: calc(100% * 12 / 12) !important;
    }

    .redBtn {
        letter-spacing: 1.4px;
    }

    .redBtn[class*='icon']:after {
        position: static;
        display: inline-block;
        vertical-align: top;
        font-size: 32px;
        margin-left: 11px;
        color: #fff;
    }
    body .modalsScroll {
        right: 0px;
        width: 100%;
    }
}

@media (max-width: 991px) {

    .col1-sm {
        width: calc(100% * 1 / 12) !important;
    }

    .col2-sm {
        width: calc(100% * 2 / 12) !important;
    }

    .col3-sm {
        width: 25% !important;
    }

    .col4-sm {
        width: 33.3333% !important;
    }

    .col5-sm {
        width: calc(100% * 5 / 12) !important;
    }

    .col6-sm {
        width: 50% !important;
    }

    .col7-sm {
        width: calc(100% * 7 / 12) !important;
    }

    .col8-sm {
        width: calc(100% * 8 / 12) !important;
    }

    .col9-sm {
        width: 66.6666% !important;
    }

    .col10-sm {
        width: calc(100% * 10 / 12) !important;
    }

    .col11-sm {
        width: calc(100% * 11 / 12) !important;
    }

    .col12-sm {
        width: calc(100% * 12 / 12) !important;
    }
}

@media (max-width: 767px) {
    .grid > [class*='col'] {
        padding: 16px 8px 0px;
    }

    .col1-xs {
        width: calc(100% * 1 / 12) !important;
    }

    .col2-xs {
        width: calc(100% * 2 / 12) !important;
    }

    .col3-xs {
        width: 25% !important;
    }

    .col4-xs {
        width: 33.3333% !important;
    }

    .col5-xs {
        width: calc(100% * 5 / 12) !important;
    }

    .col6-xs {
        width: 50% !important;
    }

    .col7-xs {
        width: calc(100% * 7 / 12) !important;
    }

    .col8-xs {
        width: calc(100% * 8 / 12) !important;
    }

    .col9-xs {
        width: 66.6666% !important;
    }

    .col10-xs {
        width: calc(100% * 10 / 12) !important;
    }

    .col11-xs {
        width: calc(100% * 11 / 12) !important;
    }

    .col12-xs {
        width: calc(100% * 12 / 12) !important;
    }

    body {
        background: #ebebeb !important;
    }

    .yellowBth {

        font-size: 16px;
        letter-spacing: 2px;
    }

    .modals .tCell {
        padding: 15px;
    }

    .wrapper {
        overflow-x: hidden;
    }
}

@media (max-width: 479px) {
    .col1-xss {
        width: calc(100% * 1 / 12) !important;
    }

    .col2-xss {
        width: calc(100% * 2 / 12) !important;
    }

    .col3-xss {
        width: 25% !important;
    }

    .col4-xss {
        width: 33.3333% !important;
    }

    .col5-xss {
        width: calc(100% * 5 / 12) !important;
    }

    .col6-xss {
        width: 50% !important;
    }

    .col7-xss {
        width: calc(100% * 7 / 12) !important;
    }

    .col8-xss {
        width: calc(100% * 8 / 12) !important;
    }

    .col9-xss {
        width: 66.6666% !important;
    }

    .col10-xss {
        width: calc(100% * 10 / 12) !important;
    }

    .col11-xss {
        width: calc(100% * 11 / 12) !important;
    }

    .col12-xss {
        width: calc(100% * 12 / 12) !important;
    }
}

.mobileImage {
}

.mobileImage img {
    display: none;
}

.container {
    width: 1630px;
    padding: 0px 15px;
    margin: 0 auto;
}

.halfContainer {
    width: 585px;
    padding: 0px;
}

.arrAnim {
    cursor: pointer;
}

.arrAnim [class*='icon-arr'] {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -moz-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.arrAnim:hover .icon-arr-right {
    -webkit-animation-name: bounceRight;
    -moz-animation-name: bounceRight;
    -o-animation-name: bounceRight;
    animation-name: bounceRight;
}

.arrAnim:hover .icon-arr-down {
    -webkit-animation-name: bounceDown;
    -moz-animation-name: bounceDown;
    -o-animation-name: bounceDown;
    animation-name: bounceDown;
}

.country.arrAnim data [class*='icon'] {

}

.project.arrAnim [class*='icon'] {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;

}

.country.arrAnim a:hover + data [class*='icon'] {
    -webkit-animation-name: bounceRight;
    -moz-animation-name: bounceRight;
    -o-animation-name: bounceRight;
    animation-name: bounceRight;
}

@keyframes bounceRight {
    0% {
        -webkit-transform: translateX(0) scaleX(1);
        -moz-transform: translateX(0) scaleX(1);
        -ms-transform: translateX(0) scaleX(1);
        -o-transform: translateX(0) scaleX(1);
        transform: translateX(0) scaleX(1);
    }
    10% {

        -webkit-transform: translateX(-10px) scaleX(0.85);
        -moz-transform: translateX(-10px) scaleX(0.85);
        -ms-transform: translateX(-10px) scaleX(0.85);
        -o-transform: translateX(-10px) scaleX(0.85);
        transform: translateX(-10px) scaleX(0.85);
    }
    20% {

        -webkit-transform: translateX(20px) scaleX(1);
        -moz-transform: translateX(20px) scaleX(1);
        -ms-transform: translateX(20px) scaleX(1);
        -o-transform: translateX(20px) scaleX(1);
        transform: translateX(20px) scaleX(1);
    }
    30% {

        -webkit-transform: translateX(0) scaleX(1);
        -moz-transform: translateX(0) scaleX(1);
        -ms-transform: translateX(0) scaleX(1);
        -o-transform: translateX(0) scaleX(1);
        transform: translateX(0) scaleX(1);
    }
    40% {

        -webkit-transform: translateX(15px) scaleX(0.9);
        -moz-transform: translateX(15px) scaleX(0.9);
        -ms-transform: translateX(15px) scaleX(0.9);
        -o-transform: translateX(15px) scaleX(0.9);
        transform: translateX(15px) scaleX(0.9);
    }
    50% {

        -webkit-transform: translateX(0) scaleX(1);
        -moz-transform: translateX(0) scaleX(1);
        -ms-transform: translateX(0) scaleX(1);
        -o-transform: translateX(0) scaleX(1);
        transform: translateX(0) scaleX(1);
    }
}

@keyframes bounceDown {
    0% {

        -webkit-transform: translateY(0) scaleY(1);
        -moz-transform: translateY(0) scaleY(1);
        -ms-transform: translateY(0) scaleY(1);
        -o-transform: translateY(0) scaleY(1);
        transform: translateY(0) scaleY(1);
    }
    10% {

        -webkit-transform: translateY(-10px) scaleY(0.85);
        -moz-transform: translateY(-10px) scaleY(0.85);
        -ms-transform: translateY(-10px) scaleY(0.85);
        -o-transform: translateY(-10px) scaleY(0.85);
        transform: translateY(-10px) scaleY(0.85);
    }
    20% {

        -webkit-transform: translateY(20px) scaleY(1);
        -moz-transform: translateY(20px) scaleY(1);
        -ms-transform: translateY(20px) scaleY(1);
        -o-transform: translateY(20px) scaleY(1);
        transform: translateY(20px) scaleY(1);
    }
    30% {

        -webkit-transform: translateY(0) scaleY(1);
        -moz-transform: translateY(0) scaleY(1);
        -ms-transform: translateY(0) scaleY(1);
        -o-transform: translateY(0) scaleY(1);
        transform: translateY(0) scaleY(1);
    }
    40% {

        -webkit-transform: translateY(15px) scaleY(0.9);
        -moz-transform: translateY(15px) scaleY(0.9);
        -ms-transform: translateY(15px) scaleY(0.9);
        -o-transform: translateY(15px) scaleY(0.9);
        transform: translateY(15px) scaleY(0.9);
    }
    50% {

        -webkit-transform: translateY(0) scaleY(1);
        -moz-transform: translateY(0) scaleY(1);
        -ms-transform: translateY(0) scaleY(1);
        -o-transform: translateY(0) scaleY(1);
        transform: translateY(0) scaleY(1);
    }
}

.animateParens {
}

.animateParens .animateShow {
    opacity: 0;
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -webkit-transform: translateY(300px);
    -o-transform: translateY(300px);
    transform: translateY(300px);
}

.animateParens .animateShow.anim {
    -webkit-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.animateParens .animateShow.show {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}

.tabs {
}

.tabs .tHead {
}

.tabs .tHead li.activeTab:after {
    opacity: 1;
}

.tabs .tHead li.activeTab {
}

.tabs .tHead li:hover > p {
    border: 0;
    padding-bottom: 1px;
}

.tabs .tHead li.activeTab:hover > p {
    padding-bottom: 0;
}

.tabs .tHead li > p {
    border-bottom: dotted 1px #134b7e;
    line-height: 18px;
}

.tabs .tHead li {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    color: #134b7e;
    font-size: 17px;
    padding: 9px 14px;
    position: relative;
}

.tabs .tBody {
    position: relative;
    overflow: hidden;
}

@media (max-width: 1660px) {
    .container {

        width: 1410px;
    }
}

@media (max-width: 1439px) {
    .container {

        width: 1170px;
    }

    .owl-controls .owl-nav .owl-prev {
        left: -10px;
    }

    .owl-controls .owl-nav .owl-next {
        right: -10px;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 980px;
    }
    body.showingModal{
      padding-right: 0px;
    }
    .owl-controls .owl-nav > div {
        top: 104px;
    }

    .halfContainer {
        width: 475px;
        padding: 0px;
    }

    .mobileImage img {
    }
}

@media (max-width: 991px) {
    .container {
        width: 750px;
    }

    .owl-controls .owl-nav > div {
        top: 110px;
    }

    .halfContainer {
        width: 375px;
        padding: 0px;
    }

    .mobileImage img {
    }
}

.showXS {
    display: none;
}

@media (max-width: 767px) {
    .showXS {
        display: block;
    }

    .hideXS {
        display: none;
    }

    .container {
        width: 100%;
        padding: 0px 8px;
    }

    .owl-controls .owl-nav > div {
        top: 59px;
    }

    .halfContainer {
        width: 50%;
        padding: 0px;
    }

    .mobileImage img {
    }
}

@media (max-width: 479px) {
    .container {
    }

    .halfContainer {
    }

    .capBlock {
    }

    .capBlock .cap {
    }

    .capBlock .cap:before {
    }

    .capBlock .cap.simple {
    }

    .capBlock .cap.simple:before {
    }

    .capBlock .dop {
    }

    .capBlock.center {
    }

    .capBlock.center .cap {
    }

    .mobileImage img {
    }
}

.notif__container {
    max-width: 800px;
}

.message-component {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgba(10, 10, 11, 0.125);
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    margin-bottom: 2px;
    max-height: 400px;
    overflow: hidden;
    padding: 5px;
    position: relative;
}

.messages-simulator {
    border: solid 1px #666666;
    background-color: rgba(240, 240, 240, .5);
    padding: 16px;
    position: absolute;
    width: 800px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

.messages-simulator .buttons-row {
    text-align: center;
}

.messages-simulator h4 {
    margin-bottom: 24px;
    color: #333333;
    font-size: 20px;
    text-align: center;
}

.message-component-success {
    background-color: rgba(0, 187, 60, .8);
    color: #ffffff;
}

.message-component-info {
    background-color: rgba(57, 140, 206, .8);
    color: #ffffff;
}

.message-component-warning {
    background-color: rgba(236, 158, 0, .8);
    color: #ffffff;
}

.message-component-danger {
    background-color: rgba(255, 64, 32, .8);
    color: #ffffff;
}

.message-component .message-header-title {
    font-weight: bold;
}

.message-component .message-header-dismiss {
    text-align: right;
}

.message-component .message-header-dismiss button {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 3px;
    background-color: #ff9012;
    color: #ffffff;
    border-color: #ffffff;
    font-size: 10px;
}

.message-component .message-header-dismiss button:hover {
    background-color: #ffb032;
}

.message-component .show-more-button {
    display: block;
    font-weight: bold;
    padding-top: 6px;
    color: #eeeeee;
}

.message-component .show-more-button:hover {
    color: #ffffff;
}

.message-component .message-long-text-container {
    padding-top: 10px;
}

.hidden {
    opacity: 0;
}
